@model SharedViewModels.Products.ProductBriefDto

<div class=" rounded-[0.2rem] bg-white p-4 w-full flex flex-col hover:cursor-pointer" onclick="window.location.href='/products/@Model.Slug';">
    <div class="relative flex aspect-square overflow-hidden mb-4 rounded-lg">
        <img class="object-cover w-full h-full transition-transform duration-300 transform hover:scale-105"
             src="@(string.IsNullOrEmpty(Model.ImageUrl) ? "https://vi.m.wikipedia.org/wiki/T%E1%BA%ADp_tin:No_image_available.svg" : Model.ImageUrl)"
             alt="image not found" />
    </div>
    <div class="flex-grow flex-col gap-2 justify-between items-end">
        <h3 class="">@Model.Name</h3>
        <div class="flex flex-col w-full gap-1 mt-1">
            <div class="flex items-center">
                @for (int i = 0; i < 5; i++)
                {
                    if (i < Model.Rating)
                    {
                        <i class="fa-solid fa-star text-yellow-500 text-xs"></i>
                    }
                    else
                    {
                        <i class="fa-regular fa-star text-yellow-400 text-xs"></i>
                    }
                }
                <span class="ml-2 text-gray-600 text-sm font-medium">
                    (@Model.RatingCount reviews)
                </span>
            </div>
            <div class="mt-2 flex gap-4 items-end justify-between  w-full">
                <p class="mt-2 text-primary text-lg flex items-center font-bold">
                    @WebMVC.Helpers.CurrencyHelper.FormatUSD(Model.Price)
                </p>
                <div class="flex items-center text-sm  rounded-md">
                    <span>@Model.Sold sold</span>
                </div>
            </div>
        </div>
    </div>
</div>